.clear {
	clear: both;
	height: 0;
}

#chat-table {
	width: 100%;
	height: 100%;
}

#video-cell {
	padding: 0 20px;
	vertical-align: top;
}

#contacts-cell {
	width: 350px;
	vertical-align: top;
}

#chat-cell {
	padding: 0 20px;
	height: 300px;
	vertical-align: top;
}

table.form th,
table.form td {
	text-align: left;
	padding: 2px 5px 2px 0;
	vertical-align: middle;
}

table.form .button-block {
	text-align: right;
}

#form {
	display: block;
	padding: 20px;
}

#step1 {
	display: block;
	padding: 20px 50px 20px 20px;	
}

#step2 {
	display: none;
	padding: 20px 50px 20px 20px;
}

/* Video */
.person {
	float: left;
	margin: 0 10px 10px 0;
}

.person .name {
	height: 20px;
	font: 600 14px/20px Arial;
	color: #000;
}

.person .video {
	border: 3px solid #666;
	background: #FFF url("../Images/video-bg.png") center center no-repeat;
}

.person .video video {
	display: block;
	max-height: 360px;
}

.person .buttons {
	padding: 5px 0;
}

.person .buttons .mute-video,
.person .buttons .mute-audio {
	width: 130px;
}

.person.my .name {
	color: #F00;
}

/* Contacts */
#contacts-block {
	border: 2px solid #000;
	height: 600px;
}

#contacts-block legend {
	font: 600 16px/20px Arial;
	margin: 0 10px;
	padding: 3px;
	border: none;
	color: #008000;
}

#contacts {
	padding: 0 10px;
	overflow: auto;
}

.contact {
	height: 30px;
	margin: 5px 0;
	padding: 2px 0;
	border-bottom: 1px dashed #666;
}

.contact .name {
	font: 600 14px/30px Arial;
	color: #000;
	float: left;
}

.contact .buttons {
	float: right;
}

.contact .buttons * {
	display: none;	
}

.contact.my .name {
	color: #F00;
}

.contact.my .buttons {
	display: none;
}

#contacts.not-ready .buttons * {
	display: none;
}

#contacts.ready	.buttons .connect {
	display: inline-block;
}

#contacts.connecting .contact.current .buttons .connecting {
	display: inline;
}

#contacts.connected .contact.current .buttons .disconnect {
	display: inline-block;
}

#contacts.disconnecting .contact.current .buttons .disconnecting {
	display: inline;
}

/* Chat */
#chat {
	padding: 5px;
	height: 200px;
	overflow: auto;
	margin: 0 0 20px;
}

#chat .message {
	padding: 3px 0;
}

#chat .message .name {
	font-weight: 600;
}

#chat .message.my .name {
	color: #F00;
}

#chat .message.my .text {
	color: #666;
}


#chat-form .chat-input {
	float: left;
	width: 90%;
}

#chat-form .chat-button, #ws-form .chat-button {
	float: right;
	width: 10%;
	text-align: right;
	padding: 3px 0 0;
}

#chat-form .chat-input input, #ws-form .chat-input input {
	width: 100%;
}

/*WS Test Area*/

#ws-form .ws-message textarea {
	width: 90%;
	height: 200px;
}

/* Console */
#console {
	border: 1px solid #000;
	height: 200px;
	overflow: auto;
	margin: 5px;
	padding: 5px;
}

#console .item {
	margin: 3px 0;	
}

#console .item.info {
	color: #888;
}

#console .item.error {
	color: #F00;
}

#console .item.warning {
	color: #00F;
}

#console .item.debug {
	color: #F55;
}