body {
	padding: 20px;
	color: #666;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}

.panel {
	display: inline-block;
	width: 650px;
	background: #f0f0f0;
	padding: 10px;
	margin-bottom: 10px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

h3 {
	margin: 0;
	padding: 0 0 5px 0;
	color: #666;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #999;
}

label {
	display: inline-block;
	text-align: right;
	width: 100px;
}

button {
	width: 100px;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	padding:2px 5px;
}

button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}

button:active {
	position:relative;
	top:1px;
}

video {
	display: inline-block;
	width: 320px;
	height: 240px;
}